# Python
__pycache__/
*.pyc
.venv/
venv/

# Secrets
.env
.env.*          # e.g., .env.local, .env.dev
!.env.example
!.env.db.example

# VS Code
.vscode/

# Notebooks cache
.ipynb_checkpoints/

#Large data not meant for Git
data/raw/
data/interim/
